body {
  font-size: 25%;
  background-color: #2b3852;
}

.color-blue {
  background-color: #6ba9d3;
}

.d-block {
  display: block;
}

.p-5 {
  padding: 5%;
}

.center {
  margin: auto;
}

.w-80 {
  width: 80%;
}

.font-size-huge {
  font-size: 35em;
}

.font-size-large {
  font-size: 22em;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
  flex-direction: column;
}